<h1>new</h1>

<%= form_for(@image) do |f| %>
     <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
     </div>
     <div class="field">
          <% if @image.info? %>
               <div class="thumbnail">
                    <%= image_tag @image.info.url %>
               </div>
          <% end %>
          <%= f.label :info %><br />
          <%= f.file_field :info %>
          <%= f.hidden_field :info_cache %>
     </div>
     <div class="field">
          <!-- 既存レコード（DBに保存されている）かつ、画像が存在する場合 -->
          <% if @image.persisted? && @image.info? %>
               <label>
                    <%= f.check_box :remove_image %>
                    画像を削除
               </label>
          <% end %>
     </div>
     <div class="actions">
          <%= f.submit %>
     </div>
<% end %>

<img src="http://tiqav.com/2Zc.jpg" />

<%= link_to 'Back', images_path %>